<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'boat_app/stylesheets/images/favicon-32x32.png' %}">
        <link href="{% static 'boat_app/stylesheets/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/scrolling-nav.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/indexstyle.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/contact.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/popup.css' %}" rel="stylesheet">
        <!-- <meta name="viewport" content="width=1190px;"> -->
        <title>JBS</title>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-fixed-top" style="margin-left: 0%; padding-left:50px; padding-bottom: 5px">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="logoBrand" class="navbar-brand page-scroll" href="#page-top"><img id="logo" src="{% static 'boat_app/stylesheets/images/logo1.png' %}" alt="Joliet Boat Store"></a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li style="padding: 25px 0;" class="hidden">
                            <a class="page-scroll" href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="#page-top">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="#vendors">Vendors</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="#contact_us">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="home" class="section" style="padding-top: 0px">
            <div class="container-non-responsive">
                <div class="parallax" id="parallax_1">
                    <h1 id="slogan" data-parallax='{"rotateX":200}'>Welcome to the Joliet Boat Store!</h1>
                </div>
            </div>
        </section>
        <section id="about" class="section" style="padding-top: 0px">
            <div class="container-non-responsive">
                <div class="parallax" id="parallax_5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="about_info" class="about_block">
                                <h1>About</h1>
                                <p>
                                    We started out like most towing families, as an accident. We have never known a   tug boat to stop and not need milk or bread or the usual, “would you mind if you get us some cigarettes." Before we knew it, we had six vehicles and expanded our services to fuel, water, trash, waste, crew changes and supplies.
                                </p>
                                <p>
                                    Family owned and operated, we have been very fortunate to work within the towing industry and with the people it brings to our front door. If you are around the Chicagoland Area, come stop by our facility or give us a call and we would be more
                                    than happy to help out in any way we can.
                                </p>
                            </div>`
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="services" class="section">
            <div class="container-non-responsive">
                <div class="parallax" id="parallax_2" style="padding-top:100px;">
                    <div class="row">
                        <div class="col-lg-12 white_box">
                            <div id="services_header">
                                <h1>Services</h1>
                            </div>
                            <div id="services_top_row" class="services_block">
                                <div class="services_link">
                                    <a href="/transport"><img src="{% static 'boat_app/stylesheets/images/transportation_1.png' %}" alt="Transportation Pic"><h4>Transportation</h4></a>
                                </div>
                                <div class="services_link">
                                    <a href="/grocery_supply"><img src="{% static 'boat_app/stylesheets/images/groceries_1.png' %}" alt="Groceries Pic"><h4>Groceries & Supplies</h4></a>
                                </div>
                                <div class="services_link">
                                    <a href="/water_fuel"><img src="{% static 'boat_app/stylesheets/images/water_fuel_1.png' %}" alt="Water Pic">
                                    <h4>Water & Fuel</h4></a>
                                </div>
                            </div>
                            <div id="services_bottom_row" class="services_block">
                                <div class="services_link">
                                    <a href="/waste"><img src="{% static 'boat_app/stylesheets/images/waste_1.png' %}" alt="Waste Pic">
                                    <h4>Waste</h4></a>
                                </div>
                                <div class="services_link">
                                    <a href="/shore"><img src="{% static 'boat_app/stylesheets/images/shore_1.png' %}" alt="Shore Pic">
                                    <h4>Shore Power</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="vendors" class="section">
            <div class="container-non-responsive">
                <div class="parallax" id="parallax_3">
                    <div class="row" style="padding-top:95px;">
                        <div class="col-lg-12">
                            <div id="vendors_header">
                                <h1>JBS Approved Vendors</h1>
                            </div>
                        </div>
                        <div>
                            <div class="vendor_box">
                               <a class="vendor_button" id="feece" href="#popup1"><img class=vendors_img src="{% static 'boat_app/stylesheets/images/oie.png' %}"></a>
                               <a class="vendor_button" id="current_marine" href="#popup2"><img class=vendors_img src="{% static 'boat_app/stylesheets/images/marine_logo_1.gif' %}"></a>
                               <a class="vendor_button" id="humco" href="#popup3"><img class=vendors_img src="{% static 'boat_app/stylesheets/images/Humco.png' %}"></a>
                               <a class="vendor_button" id="imo" href="#popup4"><img class=vendors_img src="{% static 'boat_app/stylesheets/images/imo.jpg' %}"></a>
                               <a class="vendor_button" id="timco" href="#popup5"><img class=vendors_img src="{% static 'boat_app/stylesheets/images/Timco.png' %}"></a>
                            </div>
                            <div id="popup1" class="overlay">
    	                        <div class="popup">
    		                        <h2>Feece Oil Co.</h2>
    		                        <a class="close" href="#vendors">&times;</a>
    		                        <div class="pop_content">
                                        <h5>Mike Feece</h5>
                                        <h5>888.879.1911</h5>
    		                        </div>
    	                        </div>
                            </div>
                            <div id="popup2" class="overlay">
                    	        <div class="popup">
            		                <h2>Current Marine Services, INC</h2>
            		                <a class="close" href="#vendors">&times;</a>
                    		        <div class="pop_content">
                                        <h5>Matt Kemmer</h5>
                                        <h5>314-780-0801</h5>
                                        <h5>Chemist707@gmail.com</h5>
                                    </div>
                    	        </div>
                            </div>
                            <div id="popup3" class="overlay">
                    	        <div class="popup">
            		                <h2>Humco Marine Products, INC</h2>
            		                <a class="close" href="#vendors">&times;</a>
                    		        <div class="pop_content">
                                        <h5>Glenn</h5>
                                        <h5>314-780-0801</h5>
                                        <h5>sales@humcomarine.com</h5>
                    		        </div>
                    	        </div>
                            </div>
                            <div id="popup4" class="overlay">
                    	        <div class="popup">
            		                <h2>Illinois &amp; Michigan Oil, LLC</h2>
            		                <a class="close" href="#vendors">&times;</a>
                    		        <div class="pop_content">
                                        <h5>Derek Egan</h5>
                                        <h5>844-456- 4645</h5>
                                        <h5>derekegan@aol.com</h5>
                    		        </div>
                    	        </div>
                            </div>
                            <div id="popup5" class="overlay">
                    	        <div class="popup">
            		                <h2>Timco Marine Equipment</h2>
            		                <a class="close" href="#vendors">&times;</a>
                    		        <div class="pop_content">
                    		        	<h5>(812) 945-8988</h5>
                    		        </div>
                    	        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact_us" class="section" style="padding-top:0px;">
            <div class="container-non-responsive">
                <div class="parallax" id="parallax_4" style="padding-top:75px;">
                    <div class="white_box">
                        <div class="row">
                            <div class="col-md-12 contact">
                                <h1>Contact Us</h1>
                            </div>
                        </div>
                        <div class='embed-container maps'>
                            <iframe id ="map-canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4972.959489325538!2d-88.10210553397894!3d41.5076664962236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e6152531e6867%3A0x26c5c0e5b296f61c!2sJoliet+Boat+Store!5e0!3m2!1sen!2sus!4v1489092543423" width="1138" height="300" frameborder="0"></iframe>
                        </div>
                        <div class="contact_info" id="contact_row">
                            <div class="phone_link contact_link">
                                <img src="{% static 'boat_app/stylesheets/images/telephone.png' %}" alt="Phone Pic"><h4><a href="tel:(844) 527-8326">(844) 527-8326</a></h4>
                            </div>
                            <div class="mail_link contact_link">
                                <img src="{% static 'boat_app/stylesheets/images/mail.png' %}" alt="Mail Pic"><a href="mailto:dispatch@jolietboatstore.com?Subject=Hello%20again"><h4>dispatch@jolietboatstore.com</h4></a>
                            </div>
                            <div class="port_link contact_link">
                                <img src="{% static 'boat_app/stylesheets/images/port.png' %}" alt="Port Pic"><h4>724 Railroad St, Joliet, IL 60436</h4>
                            </div>
                            <div class="job_link contact_link">
                                <img src="{% static 'boat_app/stylesheets/images/job.png' %}" alt="Job Pic"><h4>To apply for a job with Joliet Boat Store <a class="link" href="{% static 'boat_app/downloads/job.pdf' %}" download> Application Form</a></h4>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <form method="post" action="https://formspree.io/dispatch@jolietboatstore.com"  name="contactform" class="contactform" id="formspree">
                            <div class="col-md-6 spacing">
                                <fieldset>
                                    <input name="First name" type="text" id="name" size="30" placeholder="First Name" value="{{ form.f_name }}">
                                    <br>
                                    <input name="Last name" type="text" id="name" size="30" placeholder="Last Name" value="{{ form.l_name }}">
                                    <br>
                                    <input name="_replyto" type="text" id="email" size="30" placeholder="Email" value="{{ form.email }}">
                                    <br>
                                    <input name="phone" type="text" id="phone" size="30" placeholder="Phone" value="{{ form.phone }}">
                                    <br>
                                </fieldset>
                            </div>
                            <div class="col-md-6 spacing">
                                <fieldset>
                                    <input name="subject" type="text" id="subject" size="30" placeholder="Subject" value="{{ form.subject }}">
                                    <br>
                                    <textarea name="comments" cols="40" rows="20" id="comments" placeholder="Message" >{{ form.message }}</textarea>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input type="text" name="_gotcha" style="display:none" />
                                    <button type="submit" class="btn btn-lg" id="submit" value="Submit">Send Message</button>
                                </fieldset>
                            </div>
                        </form>
                        <form method="post" action="/contact/submit"  name="contactform" class="contactform hidden" id="validationform">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="f_name" type="text" id="name" size="30" placeholder="First Name" value="{{ form.f_name }}">
                                    <br>
                                    <input name="l_name" type="text" id="name" size="30" placeholder="Last Name" value="{{ form.l_name }}">
                                    <br>
                                    <input name="email" type="text" id="email" size="30" placeholder="Email" value="{{ form.email }}">
                                    <br>
                                    <input name="phone" type="text" id="phone" size="30" placeholder="Phone" value="{{ form.phone }}">
                                    <br>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="subject" type="text" id="subject" size="30" placeholder="Subject" value="{{ form.subject }}">
                                    <br>
                                    <textarea name="message" cols="40" rows="20" id="comments" placeholder="Message" >{{ form.message }}</textarea>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input type="text" name="_gotcha" style="display:none" />
                                    <input type="submit" class="btn btn-lg" id="submit" value="Send Message">
                                </fieldset>
                            </div>
                        </form>
                        <div id="error_messages">
                            {% if messages %}
                                {% for message in messages %}
                                    <br>
                                    <h5>{{message}}</h5>
                                {% endfor %}
                            {% endif %}
                        </div>-->
                </div>
            </div>
        </section>
        <script src="{% static 'boat_app/js/jquery.js' %}"></script>
        <script src="{% static 'boat_app/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'boat_app/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'boat_app/js/scrolling-nav.js' %}"></script>
        <script src="{% static 'boat_app/js/map.js' %}"></script>
    </body>
</html>
