<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <link href="{% static 'boat_app/stylesheets/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/scrolling-nav.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/teststyle.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Testing</title>
    </head>
    <body>
        <div class="parallax" id="parallax_1"></div>
        <div id="wrapper">
            <div class="section" style="background-color:red;height:300px">
                Lorem ipsum for the rest of the aisdflakj alsekj lasej laesf jalekj alkej laekj laekj laekjf lakej alkej lakjel kajle jalek jalekj lakej lakje lkeal kajelkjelkjflej lekjfle jlekajel kaje
            </div>
        </div>
        <div class="parallax" id="parallax_2"></div>
    </body>
</html>
