<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'boat_app/stylesheets/css/indexstyle.css' %}">
        <title>Testing</title>
    </head>
    <body>
        <div class="parallax" id="parallax_1"></div>
        <div class="" style="background-color:red;height:300px">
            Lorem ipsum for the rest of the aisdflakj alsekj lasej laesf jalekj alkej laekj laekj laekjf lakej alkej lakjel kajle jalek jalekj lakej lakje lkeal kajelkjelkjflej lekjfle jlekajel kaje
        </div>
        <div class="parallax" id="parallax_2"></div>
    </body>
</html>
