<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Joliet Boat Store provides crew transportation, groceries, supplies, potable water, fueling, waste disposal and more to the commercial maritime industry in the Chicagoland area.">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'boat_app/stylesheets/images/favicon-32x32.png' %}">
        <link href="{% static 'boat_app/stylesheets/css/indexstyle.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/contact.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/scrolling-nav.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/wastestyle.css' %}" rel="stylesheet">
        <title>Joliet Boat Store</title>
    </head>
    <body>
        <nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-non-responsive navbar-fixed-top" style="margin-left: 0px; padding-left:50px; padding-bottom: 5px;">
                <div class="navbar-header page-scroll inline_block">
                    <a id="logoBrand" class="navbar-brand page-scroll" href="#page-top"><img id="logo" src="{% static 'boat_app/stylesheets/images/logo1.png' %}" alt="Joliet Boat Store"></a>
                </div>
                <div class="inline_block">
                    <ul class="nav navbar-nav">
                        <li style="padding:25px 0;" class="hidden">
                            <a class="page-scroll" href="/#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#page-top">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" style="color:white; background-color:#132672;" href="/#services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#vendors">Vendors</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#contact_us">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="waste" class="section">
            <div class="container-non-responsive">
                <div id="waste_info" class="waste_header">
                    <div class="text-center">
                        <h1 class="section-heading">Waste</h1>
                        <p>Waste is a very important part of the towing industry. Because of this, we offer safe, efficient, and environmentally sound solutions with proper documentation.</p>
                    </div>
                </div>
                <div id="waste_2" class="container-non-responsive">
                    <div class="waste_block">
                        <h4 class="service-heading">Trash</h4>
                        <img id=waste_img src="{% static 'boat_app/stylesheets/images/trash-symbol-2.png' %}" alt="Trash Pic">
                        <p>Household trash receptacles are located at our facility with easy access for your vessel.</p>
                    </div>
                    <div class="waste_block">
                        <h4 class="service-heading">Recycle</h4>
                        <img src="{% static 'boat_app/stylesheets/images/recycle_1.png' %}" alt="Recycle Pic" >
                        <p>
                            We urge all vessels to separate recyclables which we have a separate receptacle for.
                        </p>
                        <ul id="recycles">
                            <li>Cardboard & Plastics</li>
                            <li>Electronics & Appliances</li>
                            <li>Lightbulbs</li>
                            <li>Batteries</li>
                        </ul>
                    </div>
                    <div class="waste_block">
                        <h4 class="service-heading">Oily Waste</h4>
                        <img src="{% static 'boat_app/stylesheets/images/oily_waste.png' %}" alt="Oily Waste Pic">
                        <p>Oily waste needs to be separated with filters drained and then double bagged and taped shut. The filters are then crushed and recycled and the oil residue, if any, is put into our recycle program. Rags and paint please double bag and tape shut which will go out as special waste.</p>
                    </div>
                    <div class="waste_block">
                        <h4 class="service-heading">Bilges</h4>
                        <img src="{% static 'boat_app/stylesheets/images/bilge_1.png' %}" alt="Pump Pic">
                        <p>All of our bilge and slop tank  material go to proper and  approved TSD facilities where  the oil is recycled and the  water is treated to all legal  requirements.</p>
                    </div>
                </div>
            </div>
        </section>
        <script src="{% static 'boat_app/js/jquery.js' %}"></script>
        <script src="{% static 'boat_app/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'boat_app/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'boat_app/js/scrolling-nav.js' %}"></script>
        <script src="{% static 'boat_app/js/map.js' %}"></script>
        <script src="{% static 'boat_app/js/jquery.parallax-scroll.js' %}"></script>
    </body>
</html>
