<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Joliet Boat Store provides fuel, water, waste, power and supplies services for ships and boats in the Chicagoland area">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'boat_app/stylesheets/images/favicon-32x32.png' %}">
        <link href="{% static 'boat_app/stylesheets/css/indexstyle.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/contact.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/scrolling-nav.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/water_fuelstyle.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/water_fuel.css' %}" rel="stylesheet">
        <title>Joliet Boat Store</title>
    </head>
    <body>
        <nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container navbar-fixed-top" style="margin-left: 0%; padding-left:50px; padding-bottom: 5px;">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="logoBrand" class="navbar-brand page-scroll" href="#page-top"><img id="logo" src="{% static 'boat_app/stylesheets/images/logo1.png' %}" alt="Joliet Boat Store"></a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li style="padding:25px 0;" class="hidden">
                            <a class="page-scroll" href="/#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#page-top">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" style="color:white; background-color:#132672;" href="/#services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#vendors">Vendors</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#contact_us">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="water" class="section">
            <div class="container-non-responsive">
                <h1>Water and Fuel</h1>
                <div class="info_block">
                    <div id="water_info" class="block_text">
                        <h3>Water</h3>
                        <p>
                            Our facility has two one and a half (1.5) inch water hook up locations with the ability to fill two boats at the same time. Both are supplied straight from the city of Joliet and are always available.
                        </p>
                    </div>
                    <div id="water_img" class="block_image">
                        <img src="{% static 'boat_app/stylesheets/images/water_1.jpg' %}" alt="water pic">
                    </div>
                </div>
                <div class="info_block">
                    <div id="fuel_info" class="block_text">
                        <h3>Fuel</h3>
                        <p>
                            Whatever quantity of fuel you need for your boat and barge, we would be happy to load it directly. In addition, we can assist with fuel sources for skiffs and heaters and various oil needs, from mains and gens to trash pumps.
                        </p>
                    </div>
                    <div id="fuel_img" class="block_image">
                        <img src="{% static 'boat_app/stylesheets/images/fuel_1.jpg' %}" alt="fuel pic">
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
