body p, body h1, body h3, body h4{
    color: #132672;
}

.parallax {
    /* Set a specific height */
    height:  100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav-collapse {
    padding: auto 10px;
}

.container-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;

  /* Set width to your desired site width */
  width: 100%;
  min-width: 1300px !important;
  height: 100%;
}
#header {
    height: 100px;
    background-color: #FDFDFD!important;
}
.navHead {
    height: 100px;
    padding: 40px 25px 0px 25px !important;
    text-align: center;
    align-items: center;
}
#logoBrand {
    padding: 0px !important;
    margin-right: 40px;
}
#logo {
    margin-top: 5px;
    height: 90px;
    width: auto;
}
#parallax_1, #parallax_5{
    background-image: url("../images/home_1.png");
    background-position: fixed;
}

#parallax_2, #parallax_3, #parallax_4  {
    background-image: url("../images/background_1.jpg");
    background-position: fixed;
}
#slogan {
    text-align: center;
    padding-top: 275px;
    color: #FDFDFD;
    font-weight: 700;
    font-size: 64px;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}
.content {
    display: inline-block;
    padding: 15px;
    width: 100%;
    height: 200px;
    margin: 20px 10px 0 10px;
    background-color: rgba(0, 0, 0, 0.2);
    vertical-align: top;
}
h3 {
    display: inline-block;;
    padding: 20px;
    align-items: center;
    vertical-align: top;
}
.content_pic {
    height: 150px;
    width: 220px;
    margin-top: 10px;
}
.about_block {
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 75px 40px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 20px;
}
#about_img img {
    display: inline-block;
    background-color: black;
    margin-top: 100px;
    height: 300px;
    width: auto;
    border: 2px solid black;
    vertical-align: top;

}

#about_info {
    text-align: left;
}
#about_info h1{
    color: #132672;
    text-decoration: none;
    font-size: 36pt;
    font-weight: 600;
}
#about_info p {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    line-height: 1.75;
    color: #132672;
}
.white_box {
    width: 100%;
    margin: 0 auto;
    background: rgba(255,255,255,.8);
    padding: 35px;
    border: 2px solid #fff;
    background-clip: padding-box;
    text-align: center;
    padding-bottom: 50px;
}
#services_header {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
#services_header h1 {
    font-size: 36pt;
    font-weight: 600;
    color: #132672;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#services h4 {
    font-weight: 600;
    text-decoration: underline;
}
#services_header p{
    text-align: center;
}
#services_bottom_row{
    margin-top: 20px;
}
#vendors_header{
    margin-top: 50px;
    margin-bottom: 20px;
}
#vendor_container {
    padding-bottom: 50px;
}
#vendors h1{
    font-size: 36pt;
    font-weight: 600;
    color: #132672;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.vendor_row h3{
    font-weight: 600;
    text-decoration: underline;
    padding: 0 !important;
}
#vendor_bot h3{
    margin-bottom: 40px;
}
img{
    border: none;
}
#vendors_img img {
    background-color: black;
    margin-top: 100px;
    height: auto;
    width: 500px;
    border: 2px solid black;
}
.services_block {
    height: 200px;
    width: auto;
}
.services_link {
    display: inline-block;
    margin: 25px 100px;
}
.services_link h4 {
    font-size: 18pt;
}
.services_link img {
    height: 150px;
    width: 150px;
}
.contact_info {
    height: 200px;
    width: auto;
}
.contact_link {
    vertical-align: top;
    display: inline-block;
    margin: 25px;
}
.contact_link h4 {
    font-size: 15pt;
    font-weight: 600;
    margin-top: 20px;
}
.contact_link img {
    height: 100px;
    width: 100px;
    border: none;
}
.contact_link h4 a{
    color: rgb(39, 74, 116);
    text-decoration: underline;
}
.contact_link h4 a:hover{
    color: black;
}

.port_link img {
    height: 100px;
    width: 100px;
    border: none;
}
.job_link {
    display: inline-block;
    margin: 25px 50px;
}
.job_link h4 {
    font-size: 15pt;
    width: 11em;
    word-wrap: break-word;
    color: #132672;
}
.job_link img {
    height: 100px;
    width: 100px;
    border: none;
}*/

.popup #page-wrap {
  -webkit-filter: blur(5px) grayscale(50%);
  -webkit-transform: scale(0.9);
}
h3 {
    margin-bottom: 15px;
}
p {
    text-align: justify;
}
li {
    font-size: 20px;
    font-weight: bold;
}
body {
    margin-top: -20px;
}
.greyscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.highlight {
    background-color: #132672;
    color: white;
}
.highlight:hover {
    background-color: #132672;
}
a:link {
    color: #132672;
}
a:hover {
    color: black;
}
.inline_block {
    display: inline-block;
    vertical-align: top;
}
