.parallax {
    /* Set a specific height */
    min-height:  700px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-nav-collapse {
    padding: auto 15px;
}
@-ms-viewport{
  width: device-width;
}

#header {
    height: 75px;
    background-color: white !important;
}

.navHead {
    height: 75px;
    padding: 25px 25px 0px 25px !important;
    text-align: center;
}
#logoBrand {
    padding: 0 5px !important;
}
#logo {
    height: 75px;
    width: auto;
}

#parallax_1 {
    background-image: url("../images/Des_Plaines_River2C_Joliet2C_IL-1.jpg");
}

#parallax_2 {
    background-image: url("../images/Muon-move-river-2-mr.jpg");
}

#welcome {
    text-align: center;
    padding-top: 300px;
    color: grey;
}
