.parallax {
    /* Set a specific height */
    height:  100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav-collapse {
    padding: auto 15px;
}

@-ms-viewport{
  width: device-width;
}

#header {
    height: 75px;
    background-color: white !important;
}
.navHead {
    height: 75px;
    padding: 25px 25px 0px 25px !important;
    text-align: center;
}
#logoBrand {
    padding: 0 5px !important;
}
#logo {
    margin-top: 4px;
    height: 70px;
    width: auto;
}
#parallax_1 {
    background-image: url("../images/osman-rana-193635.jpg");
}
#parallax_2 {
    background-image: url("../images/Muon-move-river-2-mr.jpg");
}
#welcome {
    text-align: center;
    padding-top: 300px;
    color: grey;
}
.content {
    display: inline-block;
    padding: 10px;
    width: 250px;
    height: 530px;
    margin: 20px 10px 0 10px;
    background-color: rgba(30, 120, 110, 0.56);
    border-radius: 5px;
    vertical-align: top;
}
.content_pic {
    height: 150px;
    width: 220px;
    margin-top: 10px;
}
.about_block {
    display: inline-block;
    width: 400px;
    height: 460px;
    margin: 0px 40px;
    vertical-align: top;
}
#about_info {
    text-align: left;
}
#about_info h1{
    text-decoration: underline;
}
#about_info p {
    font-size: 18px;
    text-align: left;
}
#about_img {
    background: white;
}
#services_header p{
    text-align: center;
}
#services_header h1 {
    text-decoration: underline;
}
#services_bottom_row{
    margin-top: 50px;
}

.services_block {
    height: 200px;
    width: auto;
}
.services_link {
    display: inline-block;
    margin: 25px 100px;
}
.services_link img {
    height: 150px;
    width: 150px;
    border: 5px solid blue;
}
h3 {
    text-decoration: underline;
    margin-bottom: 15px;
}
p {
    text-align: justify;
}
