.waste_header p{
    text-align: center;
    font-style: italic;
    width: 520px;
    margin: 10px auto 20px;
}
.waste_block p {
    margin-top: 15px;
}
#waste_info {
    text-align: center;
    margin-right: 80px;
}
#waste_info h1{
    text-decoration: underline;
}
#recycles li {
    font-size: 12px;
    text-align: left;
    font-weight: normal;
}
#waste_info p {
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}
#waste_img img {
    background-color: black;
    margin-top: 100px;
    height: auto;
    width: 500px;
    border: 2px solid black;
}
.section {
    padding-top: 100px;
    text-align: center;
    overflow: hidden;
    margin: 0;
    height: 720px;
}
