.info_block {
    display: inline-block;
    width: 400px;
    height: 550px;
    margin: 0px 40px;
    vertical-align: top;
}
.block_text {
    text-align: left;
    padding: 10px;
    height: 260px;
    margin-bottom: 20px;
}
.block_text h3{
    text-decoration: underline;
    margin-bottom: 15px;
    text-align: center;
}
.block_text p {
    font-size: 18px;
    text-align: left;
    line-height: 1.75;
}
.block_image {
    height: auto;
    width: 400px;
}
.section {
    padding-top: 100px;
    text-align: center;
    overflow: hidden;
    margin: 0;
}
h1 {
    text-decoration: underline;
}
