<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Joliet Boat Store provides crew transportation, groceries, supplies, potable water, fueling, waste disposal and more to the commercial maritime industry in the Chicagoland area.">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'boat_app/stylesheets/images/favicon-32x32.png' %}">
        <link href="{% static 'boat_app/stylesheets/css/indexstyle.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/contact.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/scrolling-nav.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/groceriesstyle.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/supplies.css' %}" rel="stylesheet">
        <title>Joliet Boat Store</title>
    </head>
    <body>
        <nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-non-responsive navbar-fixed-top" style="margin-left: 0px; padding-left:50px; padding-bottom: 5px;">
                <div class="navbar-header page-scroll inline_block">
                    <a id="logoBrand" class="navbar-brand page-scroll" href="#page-top"><img id="logo" src="{% static 'boat_app/stylesheets/images/logo1.png' %}" alt="Joliet Boat Store"></a>
                </div>
                <div class="inline_block">
                    <ul class="nav navbar-nav">
                        <li style="padding:25px 0;" class="hidden">
                            <a class="page-scroll" href="/#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#page-top">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" style="color:white; background-color:#132672;" href="/#services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#vendors">Vendors</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#contact_us">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="grocery_supply" class="section">
            <div class="container-non-responsive">
                <h1>Groceries and Supplies</h1>
                <div class="info_block">
                    <div id="groceries_info" class="block_text">
                        <h3>Groceries</h3>
                        <p>
                            <b>A different approach to shopping.</b> Many boat store prices are less than desirable  because of the high mark-up to cover huge overheads. That is why a gallon of  milk can turn into a $10 purchase. We have a different approach—we let the big  chain grocery stores do what they do best, high volume sales with lower costs to  shoppers—and the best part is that we pass the savings benefits on to you.
                        </p>
                        <p>
                            With most major stores within a convenient ten-minute drive from our river  location, you can shop for yourself using our transportation services or we can do  the shopping for you and deliver the order to your boat.
                        </p>
                        <p>
                            To place an order for groceries, please fill out our Grocery Order Form and email it to <a href="mailto:dispatch@jolietboatstore.com?Subject=Hello%20again">dispatch@jolietboatstore.com</a> After your order is recieved, our on-call dispatcher will reply back to confirm receipt and will call if there are any questions about your order.
                        </p>
                        <div class="block_link">
                            <p>Download Grocery Order Form <a class="link" href="{% static 'boat_app/downloads/JBS_Grocery_Order_Form.pdf' %}" download>Here</a></p>
                        </div>
                    </div>
                    <div class="block_image"><img id="groceries_img"  src="{% static 'boat_app/stylesheets/images/groceries_1.jpg' %}" alt="Groceries pic">
                    </div>
                </div>
                <div class="info_block">
                    <div id="supplies_info" class="block_text">
                        <h3>Supplies</h3>
                        <p>
                            <b>We can get what you need.</b> With the reliability and ease of shipping these days, we  can track down most things you might need. Send in supply orders and we will be  happy to fulfill them quickly and cost-effectively.
                        </p>
                        <p>
                            However, we also understand that sometimes you already have the supplies you need and simply shipping them to us makes more sense. Feel free to let us know if you want to send something to our location and we will unload and hand it off to your boat free of charge.
                        </p>
                        <p>
                            We accept deliveries from all major carriers between the hours of 0600 and 1800. For larger deliveries requiring the use of a forklift, we prefer the carrier to deliver with a lift-gate to make off-loading easier and safer for your shipment. Please call or email ahead with all details so we can monitor your shipment's arrival.
                        </p>
                        <p>
                            To place an order for supplies, please fill out our Supply Order Form and email it to  <a href="mailto:dispatch@jolietboatstore.com?Subject=Hello%20again">dispatch@jolietboatstore.com</a> After your order is received, our on-call dispatcher will reply back to confirm receipt and will call if there are any questions about your order.
                        </p>
                        <div class="block_link">
                            <p>Download Supply Order Form <a class="link" href="{% static 'boat_app/downloads/JBS_Supply_Order_Form.pdf' %}" download>Here</a></p>
                        </div>
                    </div>
                    <div id="supplies_img" class="block_image"><img src="{% static 'boat_app/stylesheets/images/supplies_1.jpg' %}" alt="Supplies pic">
                    </div>
                </div>
            </div>
            <ul class="pager" id="groceries_pager">
                <li><a href="/transport">Back</a></li>
                <li><a href="/water_fuel">Next</a></li>
            </ul>
        </section>
    </body>
</html>
