<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Joliet Boat Store provides crew transportation, groceries, supplies, potable water, fueling, waste disposal and more to the commercial maritime industry in the Chicagoland area.">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'boat_app/stylesheets/images/favicon-32x32.png' %}">
        <link href="{% static 'boat_app/stylesheets/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/scrolling-nav.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/indexstyle.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/contact.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/popup.css' %}" rel="stylesheet">
        <title>Joliet Boat Store</title>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-non-responsive navbar-fixed-top" style="margin-left: 0px; padding-left:50px; padding-bottom: 5px">
                <div class="navbar-header page-scroll inline_block">
                    <a id="logoBrand" class="navbar-brand page-scroll" href="#page-top"><img id="logo" src="{% static 'boat_app/stylesheets/images/logo1.png' %}" alt="Joliet Boat Store"></a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse inline_block">
                    <ul class="nav navbar-nav">
                        <li style="padding: 25px 0;" class="hidden">
                            <a class="page-scroll" href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="#page-top">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="#vendors">Vendors</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="#contact_us">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="home" class="section" style="padding-top: 0px">
            <div class="container-non-responsive">
                <div class="parallax" id="parallax_1">
                    <h1 id="slogan" data-parallax='{"rotateX":200}'>Service. Savings. Convenience.</h1>
                </div>
            </div>
        </section>
        <section id="about" class="section" style="padding-top: 0px">
            <div class="container-non-responsive">
                <div class="parallax" id="parallax_5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="about_info" class="about_block">
                                <h1>Welcome</h1>
                                <p>
                                    <b>Service is in our blood.</b> As a multi-generational towing family, we started out in the boat store business by accident. We have never known a tugboat to stop and not need milk or bread or even a “would you mind getting us some cigarettes?” Before we knew it, we had six transportation vehicles and had expanded our services to include groceries, supplies, water, fuel, trash, waste, and crew change transportation.
                                </p>
                                <p>
                                    <b>Saving you time and money.</b> Our goal is to be the one-stop-shop for all your vessel needs. Because of this, we have taken much time and consideration to build a business model that provides convenience and savings to our customers.
                                </p>
                                <p>
                                    <b>We value hospitality.</b> Family owned and operated, we are very fortunate to work within the towing industry and with the people it brings to our front door. If you are in the Chicagoland area, please stop by our facility or give us a call—we will be more than happy to help out in any way we can.
                                </p>
                            </div>`
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="services" class="section">
            <div class="container-non-responsive">
                <div class="parallax" id="parallax_2" style="padding-top:100px;">
                    <div class="row">
                        <div class="col-lg-12 white_box">
                            <div id="services_header">
                                <h1>Services</h1>
                            </div>
                            <div id="services_top_row" class="services_block">
                                <div class="services_link">
                                    <a href="/transport"><img src="{% static 'boat_app/stylesheets/images/transportation_1.png' %}" alt="Transportation Pic"><h4>Transportation</h4></a>
                                </div>
                                <div class="services_link">
                                    <a href="/grocery_supply"><img src="{% static 'boat_app/stylesheets/images/groceries_1.png' %}" alt="Groceries Pic"><h4>Groceries & Supplies</h4></a>
                                </div>
                                <div class="services_link">
                                    <a href="/water_fuel"><img src="{% static 'boat_app/stylesheets/images/water_fuel_1.png' %}" alt="Water Pic">
                                    <h4>Water & Fuel</h4></a>
                                </div>
                            </div>
                            <div id="services_bottom_row" class="services_block">
                                <div class="services_link">
                                    <a href="/waste"><img src="{% static 'boat_app/stylesheets/images/waste_1.png' %}" alt="Waste Pic">
                                    <h4>Waste</h4></a>
                                </div>
                                <div class="services_link">
                                    <a href="/points"><img src="{% static 'boat_app/stylesheets/images/points.png' %}" alt="Points Pic">
                                    <h4>Points of Interest</h4></a>
                                </div>
                                <div class="services_link">
                                    <a href="/shore"><img src="{% static 'boat_app/stylesheets/images/shore_1.png' %}" alt="Shore Pic">
                                    <h4>Shore Power</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="vendors" class="section">
            <div class="container-non-responsive">
                <div class="parallax" id="parallax_3">
                    <div class="row" style="padding-top:95px;">
                        <div>
                            <div class="vendor_box" id="vendor_container">
                                <div id="vendors_header">
                                    <h1>JBS Approved Vendors</h1>
                                </div>
                                <div class="vendor_row" id="vendor_top">
                                    <h3>Services</h3><br>
                                    <a class="vendor_button" id="current_marine" href="#popup2"><img class=vendor_img src="{% static 'boat_app/stylesheets/images/marine_logo_1.gif' %}"></a>
                                    <a class="vendor_button" id="imo" href="#popup4"><img class=vendor_img src="{% static 'boat_app/stylesheets/images/imo.png' %}"></a>
                                    <a class="vendor_button" id="perry" href="#popup6"><img class=vendor_img src="{% static 'boat_app/stylesheets/images/perry_logo.png' %}"></a>
                                </div>
                                <div class="vendor_row" id="vendor_bot">
                                    <h3>Supplies & Equipment</h3><br>
                                    <a class="vendor_button" id="feece" href="#popup1"><img class=vendor_img src="{% static 'boat_app/stylesheets/images/oie.png' %}"></a>
                                    <a class="vendor_button" id="humco" href="#popup3"><img class=vendor_img src="{% static 'boat_app/stylesheets/images/Humco.png' %}"></a>
                                    <a class="vendor_button" id="timco" href="#popup5"><img class=vendor_img src="{% static 'boat_app/stylesheets/images/Timco.png' %}"></a>
                                </div>
                            </div>
                            <div id="popup1" class="overlay">
    	                        <div class="popup">
    		                        <h2>Feece Oil Co.</h2>
    		                        <a class="close" href="#vendors">&times;</a>
    		                        <div class="pop_content">
                                        <h5>Dispatch</h5>
                                        <h5>(888) 879-1911</h5>
                                        <h5>orders@feeceoil.com</h5>
                                        <a href="http://www.feeceoilfuel.com/"><h5>www.feeceoilfuel.com</h5></a>
    		                        </div>
    	                        </div>
                            </div>
                            <div id="popup2" class="overlay">
                    	        <div class="popup">
            		                <h2>Current Marine Services, Inc.</h2>
            		                <a class="close" href="#vendors">&times;</a>
                    		        <div class="pop_content">
                                        <h5>Matt Kemmer</h5>
                                        <h5>Marine Chemist</h5>
                                        <h5>(314) 780-0801</h5>
                                        <h5>Chemist707@gmail.com</h5>
                                    </div>
                    	        </div>
                            </div>
                            <div id="popup3" class="overlay">
                    	        <div class="popup">
            		                <h2>Humco Marine Products, Inc.</h2>
            		                <a class="close" href="#vendors">&times;</a>
                    		        <div class="pop_content">
                                        <h5>Glenn LaMarche</h5>
                                        <h5>Sales Manager</h5>
                                        <h5>(800) 381-9968</h5>
                                        <h5>sales@humcomarine.com</h5>
                                        <a href="http://www.humcomarine.com/"><h5>www.humcomarine.com</h5></a>
                    		        </div>
                    	        </div>
                            </div>
                            <div id="popup4" class="overlay">
                    	        <div class="popup">
            		                <h2>Illinois &amp; Michigan Oil, LLC</h2>
            		                <a class="close" href="#vendors">&times;</a>
                    		        <div class="pop_content">
                                        <h5>Derek Egan</h5>
                                        <h5>Vice President</h5>
                                        <h5>(844) 456-4645</h5>
                                        <h5>derekegan@aol.com</h5>
                    		        </div>
                    	        </div>
                            </div>
                            <div id="popup5" class="overlay">
                    	        <div class="popup">
            		                <h2>Timco Marine Equipment</h2>
            		                <a class="close" href="#vendors">&times;</a>
                    		        <div class="pop_content">
                    		        	<h5>(812) 945-8988</h5>
                                        <a href="http://www.timcomarine.com/"><h5>www.timcomarine.com</h5></a>
                    		        </div>
                    	        </div>
                            </div>
                            <div id="popup6" class="overlay">
    	                        <div class="popup">
    		                        <h2>Perry's Marine & Equipment Repair</h2>
    		                        <a class="close" href="#vendors">&times;</a>
    		                        <div class="pop_content">
                                        <h5>Jim Perry</h5>
                                        <h5>President</h5>
                                        <h5>(815) 722-6342</h5>
                                        <h5>mjperry@yahoo.com</h5>
    		                        </div>
    	                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact_us" class="section" style="padding-top:0px;">
            <div class="container-non-responsive">
                <div class="parallax" id="parallax_4" style="padding-top:75px; height:1000px;">
                    <div class="white_box">
                        <div class="row">
                            <div class="contact">
                                <h1>Contact Us</h1>
                                <h3>The Joliet Boat Store is located above the Brandon Road Lock in Joliet, IL on the right descending<br> side at Mile Marker 286.5 of the Illinois Waterways</h3>
                            </div>
                        </div>
                        <div class='embed-container maps'>
                            <iframe id ="map-canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4972.959489325538!2d-88.10210553397894!3d41.5076664962236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e6152531e6867%3A0x26c5c0e5b296f61c!2sJoliet+Boat+Store!5e0!3m2!1sen!2sus!4v1489092543423" width="1138" height="300" frameborder="0"></iframe>
                        </div>
                        <div class="contact_info" id="contact_row">
                            <div id="phone_link" class="contact_link">
                                <img src="{% static 'boat_app/stylesheets/images/telephone.png' %}" alt="Phone Pic"><h4><a href="tel:(844) 527-8326" style="color: #132672;">(844) 527-8326</a></h4>
                            </div>
                            <div id="mail_link" class="contact_link">
                                <img src="{% static 'boat_app/stylesheets/images/mail.png' %}" alt="Mail Pic" ><h4><a href="mailto:ap@jolietboatstore.com?Subject=Hello%20again" style="color: #132672;">AP@jolietboatstore.com</a><br><a href="mailto:ap@jolietboatstore.com?Subject=Hello%20again" style="color: #132672;">AR@jolietboatstore.com</a><br><a href="mailto:dispatch@jolietboatstore.com?Subject=Hello%20again" style="color: #132672;">Dispatch@jolietboatstore.com</a></h4>
                            </div>
                            <div id="port_link" class="contact_link">
                                <img src="{% static 'boat_app/stylesheets/images/port.png' %}" alt="Port Pic" ><h4>724 Railroad St<br>Joliet, IL 60436</h4>
                            </div>
                            <div id="job_link" class="contact_link">
                                <img src="{% static 'boat_app/stylesheets/images/job.png' %}" alt="Job Pic" ><h4> Joliet Boat Store<br><a class="link" style="color: #132672; href="{% static 'boat_app/downloads/jbs_job_application.pdf' %}" download>Application Form</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="{% static 'boat_app/js/jquery.js' %}"></script>
        <script src="{% static 'boat_app/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'boat_app/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'boat_app/js/scrolling-nav.js' %}"></script>
        <script src="{% static 'boat_app/js/map.js' %}"></script>
    </body>
</html>
