<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Joliet Boat Store provides crew transportation, groceries, supplies, potable water, fueling, waste disposal and more to the commercial maritime industry in the Chicagoland area.">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'boat_app/stylesheets/images/favicon-32x32.png' %}">
        <link href="{% static 'boat_app/stylesheets/css/indexstyle.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/contact.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/scrolling-nav.css' %}" rel="stylesheet">
        <link href="{% static 'boat_app/stylesheets/css/transportstyle.css' %}" rel="stylesheet">
        <title>Joliet Boat Store</title>
    </head>
    <body>
        <nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-non-responsive navbar-fixed-top" style="margin-left: 0px; padding-left:50px; padding-bottom: 5px;">
                <div class="navbar-header page-scroll inline_block">
                    <a id="logoBrand" class="navbar-brand page-scroll" href="#page-top"><img id="logo" src="{% static 'boat_app/stylesheets/images/logo1.png' %}" alt="Joliet Boat Store"></a>
                </div>
                <div class="inline_block">
                    <ul class="nav navbar-nav">
                        <li style="padding:25px 0;" class="hidden">
                            <a class="page-scroll" href="/#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#page-top">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" style="color:white; background-color:#132672;" href="/#services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#vendors">Vendors</a>
                        </li>
                        <li>
                            <a class="page-scroll navHead" href="/#contact_us">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="transport" class="section">
            <div class="container-non-responsive">
                <div id="transport_info" class="transport_block">
                    <h1>Transportation</h1>
                    <p>
                        The towing industry is a 24/7 business and so are we. The earlier of a notice we can have in regards to your transportation needs, the more efficient we can be. However, we are fully staffed and prepared for any last-minute requests.
                    </p>
                    <p>
                        We firmly believe it is everyone’s responsibility to do their part in reducing the carbon footprint they leave. That is why a diverse fleet is so important; so we can use the right vehicle for the job.
                    </p>
                    <p>
                        Our fleet consists of solely late-model vehicles specific to each of your tasks: large vans for groups of people and heavier equipment, electric Volts that provide environmentally-friendly transport for your smaller loads. Each manner of transportation is suited for efficiency and convenience.
                    </p>
                </div>
                <div id="transport_img" class="transport_block"><img src="{% static 'boat_app/stylesheets/images/transportation.JPG' %}" alt="transportation pic"></div>
            </div>
        </section>
    </body>
</html>
